<%- include('partials/header.ejs') %>
<div class="container">
    <div class="container">
        <div class="card">
            <div class="column">
               <div class="row-md-12">
                    <div class="card-body">
                        <img src="//images.igdb.com/igdb/image/upload/t_thumb/upocxcmubdigf1lvvlpz.jpg" alt="">
                       </div>
                            </div>
                                 </div>
                                     </div>
        <div class="card px-1">
            <div class="column">
               <div class="row-md-12">
                    <div class="card-body">
                        
                        <div class="game">
                            <p class="card-title game-title">Mario Bros!</p>
                            <p class="card-summary game-summary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque ratione nesciunt ducimus repudiandae iusto odio dolores quos libero. Modi, veritatis!</p>
                        </div>

                        <div class="card px-1">
                            <div class="column">
                               <div class="row-md-12">
                                    <div class="card-body">
                         <div class="genre">
                             <p class="title">Genres</p>
                             <ul>
                                <li>platform</li>
                                <li>adventure</li>
                            </ul>
                         </div>
                        </div>                        
                    </div>                        
                </div> 
            </div>                        

            <div class="card px-1">
                <div class="column">
                   <div class="row-md-12">
                        <div class="card-body">
                         <div class="game-modes">
                            <p class="title">Game Modes</p>
                             <ul>
                                <li>single player</li>
                                <li>multiplayer</li>
                            </ul>
                         </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card px-1">
                <div class="column">
                   <div class="row-md-12">
                        <div class="card-body">
                         <div class="platforms">
                            <p class="title">Platforms</p>
                             <ul>
                                <li><a href="#">Wii</a></li>
                                <li><a href="#">Nintendo Entertainment System</a></li>
                            </ul>
                         </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card px-1">
                <div class="column">
                   <div class="row-md-12">
                        <div class="card-body">
                         <div class="characters">
                            <p class="title">Characters</p>
                             <ul>
                                <li>Mario</li>
                                <li>Bowser</li>
                            </ul>
                         </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card px-1">
                <div class="column">
                   <div class="row-md-12">
                        <div class="card-body">
                         <div class="Websites">
                            <p class="title">Websites</p>
                             <ul>
                                <li><a href="#">https://somesite.com</a></li>
                                <li><a href="#">https://somesite.com</a></li>
                            </ul>
                         </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card px-1">
                <div class="column">
                   <div class="row-md-12">
                        <div class="card-body">
                         <div class="row">
                            <div class="col-md-12">
                         <div class="screenshots ">
                            <p class="title">Screenshots</p>
                            
                           <div class="screenshot-imgs">
                            <img src="//images.igdb.com/igdb/image/upload/t_thumb/upocxcmubdigf1lvvlpz.jpg" alt="">
                            <img src="//images.igdb.com/igdb/image/upload/t_thumb/upocxcmubdigf1lvvlpz.jpg" alt="">
                           </div>
                         </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        
                        
                        
                    </div>
               </div>
               </div>
            

            <div class="similars">
                <p class="title">Similar Games</p>
            <div class="similar1">
                <div class="card">
                    <div class="column">
                        <div class="col-md-12">
                       
                            <div class="card-body">
                                <div class="similar1">
                                    <img src="//images.igdb.com/igdb/image/upload/t_thumb/upocxcmubdigf1lvvlpz.jpg" alt="" class="float-start">
                                    <p class="title"> Legend of Zelda</p>
                                    <p class="summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta similique soluta aliquid ipsum maiores accusamus a ab cupiditate facilis dolorum excepturi eaque incidunt aliquam modi, asperiores quia sint ratione. A.</p>
                                </div>          
                        </div>
                    </div>
                </div>
                </div>
            </div>

              <div class="similar2">
                <div class="card">
                    <div class="column">
                        <div class="col-12">
                       
                            <div class="card-body">
                                <div class="similar1">
                                    <img src="//images.igdb.com/igdb/image/upload/t_thumb/upocxcmubdigf1lvvlpz.jpg" alt="" class="float-start">
                                    <p class="title"> Legend of Zelda</p>
                                    <p class="summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta similique soluta aliquid ipsum maiores accusamus a ab cupiditate facilis dolorum excepturi eaque incidunt aliquam modi, asperiores quia sint ratione. A.</p>
                                </div>          
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>


<%- include('partials/footer.ejs') %>



