<%- include('partials/header.ejs') %>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="game_img col-md-4">
                <img src="//images.igdb.com/igdb/image/upload/t_1080p/upocxcmubdigf1lvvlpz.jpg" alt="">
             </div>
             <div class="game col-md-8">
                <p class="card-title game-title">Mario Bros!</p>
                <p class="card-summary game-summary">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque ratione nesciunt ducimus repudiandae iusto odio dolores quos libero. Modi, veritatis!</p>
            </div>
        </div>
            <div class="row">      
                         <div class="genre col-md-3">
                             <p class="title">Genres</p>
                             <ul>
                                <li>platform</li>
                                <li>adventure</li>
                            </ul>
                         </div>
                         

                
                         <div class="game-modes col-md-3">
                            <p class="title">Game Modes</p>
                             <ul>
                                <li>single player</li>
                                <li>multiplayer</li>
                            </ul>
                         </div>
                        
    
                         <div class="platforms col-md-3">
                            <p class="title">Platforms</p>
                             <ul>
                                <li><a href="#">Wii</a></li>
                                <li><a href="#">Nintendo Entertainment System</a></li>
                            </ul>
                    </div>

                    </div>
                <div class="row">
                         <div class="characters col-md-12">
                            <p class="title">Characters</p>
                             <ul>
                                <li>Mario</li>
                                <li>Bowser</li>
                            </ul>
                        </div>
            

                
                         <div class="Websites col-md-12">
                            <p class="title">Websites</p>
                             <ul>
                                <li><a href="#">https://somesite.com</a></li>
                                <li><a href="#">https://somesite.com</a></li>
                            </ul>
            </div>

                         <div class="screenshots col-md-12">
                            <p class="title">Screenshots</p>
                           <div class="screenshot-imgs">
                            <img src="//images.igdb.com/igdb/image/upload/t_thumb/upocxcmubdigf1lvvlpz.jpg" alt="">
                            <img src="//images.igdb.com/igdb/image/upload/t_thumb/upocxcmubdigf1lvvlpz.jpg" alt="">
                           </div>
                        </div>
                        
               <div class="similars col-md-12">
                <a href="/games/255" class="plain">
                    <div class="card">
                       <div class="row">
                            <div class="col-md-2">
                                <img src="http://images.igdb.com/igdb/image/upload/t_1080p/upocxcmubdigf1lvvlpz.jpg" class="card-img w-100" alt="game cover">
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <p class="card-title game-title">Game Name</p>
                                    <p class="card-text game-summary">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos est harum laboriosam officiis cum culpa iste. Odit maiores, sed alias, veritatis itaque cupiditate sequi, iure blanditiis unde veniam similique eum autem pariatur repellendus? Quisquam possimus corporis iure corrupti vitae ab. Ipsam nobis reprehenderit inventore consequatur facere expedita ducimus! Consequatur molestias dolores blanditiis ad magnam aut similique vitae cumque pariatur, reprehenderit eaque nemo et doloremque voluptatibus ex saepe nisi ipsam? Ad asperiores impedit cumque repudiandae. Ullam.></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/games/255" class="plain">
                    <div class="card">
                       <div class="row">
                            <div class="col-md-2">
                                <img src="http://images.igdb.com/igdb/image/upload/t_1080p/upocxcmubdigf1lvvlpz.jpg" class="card-img" alt="game cover">
                            </div>
                            <div class="col-md-10">
                                <div class="card-body">
                                    <p class="card-title game-title">Game Name</p>
                                    <p class="card-text game-summary">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos est harum laboriosam officiis cum culpa iste. Odit maiores, sed alias, veritatis itaque cupiditate sequi, iure blanditiis unde veniam similique eum autem pariatur repellendus? Quisquam possimus corporis iure corrupti vitae ab. Ipsam nobis reprehenderit inventore consequatur facere expedita ducimus! Consequatur molestias dolores blanditiis ad magnam aut similique vitae cumque pariatur, reprehenderit eaque nemo et doloremque voluptatibus ex saepe nisi ipsam? Ad asperiores impedit cumque repudiandae. Ullam.></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        </div>



<%- include('partials/footer.ejs') %>



